<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text= "${onegenre.title}"></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
</head>

<body>
<header>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
			<a class="navbar-brand" href="http://localhost:8080/reviews">
					<p>The Lounge</p>
				</a>
				 <a class= "genreButton" href="/genrelist"><button type="button" class="btn btn-default navbar-btn">Back to Genres</button></a>
			</div>
		</div>
	</nav>
</header>

<div class="content">
	<h1 th:text="'Reviews in the ' + ${onegenre.title} + ' genre:'"></h1>
	
	<a th:each="review: ${onegenre.reviews}" th:href="@{/onereview(id=${review.id})}" th:text="${review.title}"></a>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/reviews">
        <p>Back to Home</p>
      </a>
    </div>
  </div>
</nav>

</body>
</html>