<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>One Lounge Review</title>
	<link rel="stylesheet" type="text/css" href="styles2.css"/>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
			<a class="navbar-brand" href="http://localhost:8080/reviews">
					<p>The Lounge</p>
				</a>
			</div>
		</div>
	</nav>
	<h1>Lounge Review:</h1>

	<p th:text="'Movie title:  ' + ${onereview.title}" />
	<p th:text="'Genre:  ' + ${onereview.genre.title}" />
	<img th:src="${onereview.imageUrl}"/>
	<p></p>
	<p>Synopsis:</p>
	<p></p>
	<div id="synStyle">
		<p th:text="${onereview.synopsis}"></p>
	</div>
	
	<nav class="navbar navbar-inverse navbar-static-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/reviews">
        <p>Back to Home</p>
      </a>
    </div>
  </div>
</nav>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>